
/*
 * You can add gradients over background images by giving opacities. 
 * clip-path can cut elements into whatever shape you want. you can define polygons, 
 * circles, whatever by giving coordinates, to create pretty shapes.
 */
.header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, .8),
        rgba($color-primary-dark, .8)),
        url('../img/hero.jpg');

    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    /*
    * There has to be a reference from where the absolute elements positioning begins, which is 
    * precisely why the parent element needs a position: relative; 
    */
    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 40px;
    }

    &__logo {
        height: 3.5rem;
    }
    
    /* Span elements are by default inline; block level elements take space before and after and 
     * occupy the full width they're given.
     * Centering by position absolute isn't as simple as top: 50% and left: 50%, as that aligns
     * only the top left of the element in the center (not making it look like it's in the center).
     * Add: transform: translate(-50%, -50%)
     */
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}