.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-gray-light-1);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}

// When you set the parent flex:wrap all children 
.header {
    display: flex;
    font-size: 1.4rem;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);

    // the space between rows can be controlled by align-content
    // it is usually used in conjunction with the flex-wrap and when there are multiple lines
    @media only screen and (max-width: $bp-smallest) {
        flex-wrap: wrap;
        align-content: space-around;
        height: 11rem;
    }
}

.content {
    display: flex;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
}

// To control width for flexbox, use flex-basis, which you can specify in the 
// shorthand flex property (which takes in multiple values) 
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-gray-dark-1);
    flex: 0 0 18%;
}

// flex: 1; allows the element to grow as much as it can
.hotel-view {
    flex: 1;
}

// Make the most of the "cascading" part of CSS by specifying font sizes and colors in parent 
// elements (for parents-children which you want to look the same), so the children just inherit
// those values. 
// Larger media queries first -> smaller (if using max-width)
.detail {
    display: flex;
    padding: 4.5rem;
    font-size: 1.4rem;
    background-color: var(--color-gray-light-1);
    border-bottom: var(--line);

    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }
}

/* 
 * When using a percentage value for flex basis, there's no need to specify the first two arguments
 * which are flex grow and flex shrink.
 * If you ever notice flex items streching in relation to each other either horizontally or 
 * vertically, realize that align-items/justify-content is streched by default.
*/
.description {
    background-color: #fff;
    flex: 0 0 60%;
    margin-right: 4.5rem;
    box-shadow: var(--shadow-light);
    padding: 3rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-right: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        margin: 0;
        margin-bottom: 3rem;
    }
}

.user-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}