*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

/* Min-content makes the rows or columns adapt to the minimum length required for the content to fit
 * into the grid row/column -> an easy and effective way to make things more responsive  
 * Another extremely effective way to make responsive grid columns or rows is to use the minmax function,
 * which can specify a range of values i.e. the min and the max that the element can take. 
 * Here we have used a complicated way to center the grid (adding the extra fr's after the 8rem sidebar
 * column) because this particular situation couldn't be solved by other easier alternatives, such as 
 * margin: 0 auto or justify-content. 
 * Taking some time to painstakenly name all the grids may pay dividends while using it, as referencing the 
 * names will be way easier: note, this is only for big grids like this one. 
*/
.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  .container > * {
    padding: 40px;
    font-size: 3rem; }

.sidebar {
  background-color: #c69963;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1; }

.header {
  background-color: #54483A;
  grid-column: full-start / col-end 6; }

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7 / full-end; }

.features {
  background-color: #aaa;
  grid-column: center-start / center-end; }

.story__pictures {
  background-color: #c69963;
  grid-column: full-start / col-end 4; }

.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5 / full-end; }

.homes {
  background-color: #101d2c;
  grid-column: center-start / center-end; }

.gallery {
  background-color: #54483A;
  grid-column: full-start / full-end; }

.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end; }
