// When you have a named set of columns (you added the col-start/col-end in the repeat function, making 
// it a named set, so you must pass in the col number as well (as done in the grid-column below)
// Remember, when using fr, that the container must have a well-defined height for the fractional 
// unit to work, otherwise it is meaningless (just like percentage)
// the difference between justify-content and justify-items is that the former aligns all the tracks within 
// the entire container, whereas the latter aligns the cells themselves
.header {
    display: grid;
    grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
    grid-template-columns: minmax(min-content, max-content);
    grid-row-gap: 1.5rem;
    background-image: linear-gradient(rgba($color-secondary, .93), rgba($color-secondary, .93)),
    url("../img/hero.jpeg");
    grid-column: full-start / col-end 6;
    padding: 8rem;
    padding-top: 4rem;
    justify-content: center;

    @media only screen and (max-width: $bp-medium) {
        grid-column: 1 / -1;
    }

    @media only screen and (max-width: $bp-small) {
        padding: 5rem;
    }

    &__logo {
        height: 3rem;
        justify-self: center;
    }

    // Text and pseudo-elements like ::before and ::after can also be grid/flexbox children
    // max-content will make it occupy such that it all fits in one line
    &__seen-on {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-column-gap: 1.5rem;
        align-items: center;
        font-size: 1.6rem;
        color: $color-grey-light-2;

        &::before,
        &::after {
            display: block;
            content: "";
            height: 1px;
            background-color: currentColor;
        }
    }

    &__seen-on-logos {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 3rem;
        justify-items: center;

        img {
            max-height: 2.5rem;
            max-width: 100%;
            filter: brightness(70%);
        }
    }

    &__btn {
        align-self: flex-start;
        justify-self: flex-start;
    }

}