.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .15; 
    overflow: hidden;

    // Just a simple width and height 100% will not make the video cover the entire section, as it 
    // will also try to maintain the aspect ratio. Try object-fit: cover;
    &__content {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
} 